<p id="notice"><%= notice %></p>

<p>
  <b>Video url:</b>
  <%= @video.video_url %>
</p>

<p>
  <b>Description:</b>
  <%= @video.description %>
</p>

<p>
  <b>Image URL:</b>
  <%= image_tag(@video.image_url) %>
  <%= @video.image_url %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
